section.app_section{
    width: auto;
    height: auto;
    min-height: 90vh;
    display: flex;
    flex: row nowrap;
    
    margin: 5% 5% auto ;
    padding: 1em;

    background-color:aquamarine;
}